.event-list-add {
  padding-top: 50px;
  &__button{
    background-color: #0d0d0d50;
    outline: none;
    border: none;
    color: white;
    width: 100%;
    padding: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 700;
    transition: 0.25s background-color ease-in-out, 0.25s border-color ease-in-out;
    border: 1px solid transparent;
  
    &:hover,
    &:focus {
      background-color: #0d0d0d;
    }
  
    &:focus {
      border: 1px solid dodgerblue;
    }
  }
  h3{
    padding-bottom: 20px;
  }
  &__input-container{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  &__input-label{
    display: block;
  }
  &__input{
    background-color: white;
    outline: none;
    border: none;
    color: #0d0d0d;
    padding: 10px;
    transition: 0.25s background-color ease-in-out, 0.25s border-color ease-in-out;
    border: 1px solid transparent;
    &:hover,
    &:focus {
      border-color: rgba(30, 143, 255, 0.603);
    }
    &:focus {
      border-color: dodgerblue;
    }
  }
}
