.event-list-item {
  background-color: #0d0d0d;
  border-radius: 5px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;

  &__name {
    margin: 0 0 10px;
  }

  &__date,
  &__category {
    margin: 0;
    font-size: 12px;
    opacity: 0.8;
  }

  &__price {
    font-weight: bold;
    margin: 0 0 0 auto;
  }
}
