/* You can add global styles to this file, and also import other style files */
@import './assets/normalize.scss';
@import './assets/font.scss';


body {
  background-color: #1a2129;
  color: #fff;
}
